[Unit]
Description=uWSGI instance to serve weather app

[Service]
ExecStartPre=-/bin/bash -c 'mkdir -p /run/uwsgi; chown nginx /run/uwsgi'
ExecStart=/bin/bash -c 'cd /tmp/bin/uwsgi/; uwsgi --ini ip2w.ini'

[Install]
WantedBy=multi-user.target
